<!doctype html>

{% block html %}<html lang="en">{% endblock html %}
<head>

  {% block head %}
    <link rel="shortcut icon" href="{{ baseUrl }}img/favicon.ico">
    <title> {% block title %}{% endblock title %} | Mount McKinney</title>
    <link href='http://fonts.googleapis.com/css?family=Quicksand|Vast+Shadow|Cinzel' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ baseUrl }}css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock head %}
</head>
<body>
  {% block header %}
  <header class="contact-header">
      <div id="name">
        <h3>John McKinney</h3>
        <p>Web Developer</p>
      </div>
    {% endblock header %}
    {% block menu %}
      <div class="mobile-nav">
        <div class="menu-btn" id="menu-btn">
           <div></div>
           <span></span>
           <span></span>
           <span></span>
        </div>

        <div class="responsive-menu">
            <ul>
            <a href="{{ baseUrl }}"><li>Home</li></a>
            <a href="{{ siteUrl('/portfolio')}}"><li>Portfolio</li></a>
            <a href="{{ siteUrl('/campfirestories')}}"><li>Campfire Stories</li></a>
            <a href="{{ siteUrl('/twocents')}}"><li>My Two Cents</li></a>
            <a href="{{ siteUrl('/contact')}}"><li>Contact</li></a>
            <a href="{{ siteUrl('/subscribe')}}"><li>Subscribe</li></a>
            </ul>
        </div>
      </div>
      <div id="menu">
        <ul>
            <a href="{{ baseUrl }}"><li>Home</li></a>
            <a href="{{ siteUrl('/portfolio')}}"><li>Portfolio</li></a>
            <li class="blog">Blog
              <ul>
                <a href="{{ siteUrl('/campfirestories')}}"><li>Campfire Stories</li></a>
                <a href="{{ siteUrl('/twocents')}}"><li>My Two Cents</li></a>
              </ul>
            </li>
            <a href="{{ siteUrl('/contact')}}"><li>Contact</li></a>
            <a href="{{ siteUrl('/subscribe')}}"><li>Subscribe</li></a>
        </ul>
      </div>
    {% endblock menu %}
  </header>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
  {% block footer %}
  <footer class="contact-footer">
      <p>&copy; <?php echo date('Y'); ?> Mount McKinney</p>
      <a href="http://facebook.com/mountmckinney" class="social" id="facebook-icon"><img src="{{ baseUrl }}img/facebook-icon.svg"></a>
      <a href="http://twitter.com/mountmckinney" class="social" id="twitter-icon"><img src="{{ baseUrl }}img/twitter-icon.svg"></a>
      <a href="http://instagram.com/mountmckinney" class="social" id="instagram-icon"><img src="{{ baseUrl }}img/instagram-icon.svg"></a>
  </footer>
  {% endblock footer %}
  <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ baseUrl }}js/app.js"></script>
    {% block disqus %}
    {% endblock disqus %}
  </body>
  </html>
